@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.navbar{
    width: 100%;
    height: 10%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.item-nav{
    color: white;
    font-size: 2em;
}

.item-nav a{
    text-decoration: none;
    color: inherit;
}