@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Poppins;
}

button.btn-main {
    padding: 15px 45px;
    background: #2d2dc1;
    border-radius: 50px;
    border: none;
}

button.btn-main:hover {
    background: #5858ee;
}

.btn-main a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;

}

.navbar{
    width: 100%;
    height: 10%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-nav{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-right: 2%;
}

.item-nav{
    color: #162b3b;
    font-size: 2em;
}

.item-nav a{
    text-decoration: none;
    color: inherit;
    margin: 15px;
    font-size: 22px;
    padding: 5px;
}


/* ----- CSS GENESIS ----- */

.full-container {
    display: flex;
    width: 100%;
    padding: 12px 0;
    margin: auto;
}

.box-container {
    display: flex;
    width: 90%;
    padding: 12px 0;
    margin: auto;
}

.top-back{
    background: #00d0d1;
}

.top-header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

i {
    padding: 0 15px;
    font-size: 1.4em;
    color: #fff;
}

.top-header p {
    color: #fff;
}

.top-header p {
    color: #fff;
    margin: 0%;
    font-size: 1.1em;
}

.navbar img {
    width: 25%;
}

.slider-back {
    background-image: url(/img/slider.jpg);
    height: 650px;
    background-repeat: no-repeat;
}

.h1-slider {
    font-size: 7em;
    font-weight: 900;
    color: #fff;
}

/* CSS Marqui */

    .seccion-quienes-somos{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-quienes-somos{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
    }

    .container-img-quienes-somos{
        width: 40%;
    }


    .img-quienes-somos{
        width: 100%;
    }

    .info-quienes-somos{
        width: 60%;
        margin-right: 1%;
        margin-left: 3%;
    }

    .contenedor-titulo-quienes-somos{
        width: 90%;
    }

    .titulo-quienes-somos{
        width: 100%;
        font-family: Poppins;
        font-size: 1.5em;
        
    }

    .contenedor-info{
        display: flex;
        width: 100%;
    }

    .contenedor-parrafo-quienes-somos{
        width: 100%;
    }

    .parrafo-quienes-somos{
        color: #6A6A6A;
        font-family: Poppins;
        font-size: 1em;
        margin-right: 1%;
    }

/* CSS MARQUI - FOOTER*/

    .container-footer{
        width: 100%;
        background-image: url(/img/footer.jpg);
        background-repeat: no-repeat;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-logo-redes{
        width: 25%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 2%;
        
    }

    .logo-footer-logo-redes{

    }

    .parrafo-footer-logo-redes{
        color: white;
        font-family: Poppins;
        font-size: .95em;
        text-align: left;
    }

    .logo-footer{
        width: 70%;
    }

    .icons i:hover{
        cursor: pointer;
    }

    .footer-contacto{
        width: 25%;
        height: 40vh;
        margin: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .titulo-footer-contacto h3{
        color: white;
        font-size: 1.6em;
    }

    .medios-contacto{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .medios-contacto p{
        color: white;
        font-size: .95em;
    }

    .footer-suscripciones{
        width: 25%;
        height: 40vh;
        margin: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contenedor-titulo-suscripciones{
        width: 100%;
        text-align: center;
    }

    .titulo-suscripciones{
        color: white;
        font-size: 1.6em;
    }

    .contenedor-parrafo-suscripciones{
        width: 100%;
        margin: 0;
    }

    .parrafo-suscripciones{
        color: white;
        font-size: .95em;
    }

    .contenedor-formulario-suscripciones{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .input-form-suscripciones{
        width: 100%;
        height: 5vh;
    }

    .input-form-suscripciones::placeholder{
        text-align: center;
    }

    .btn-form-suscripciones{
        margin-top: 3%;
        width: 100%;
        height: 5vh;
        background-color: #5858EE;
        color: white;
        font-weight: 600;
    }

    .btn-form-suscripciones:hover{
        cursor: pointer;
    }

    .copyright{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .copyright p{
        color: white;
        font-size: 1em;
    }




/* ----- CSS MARCOS ----- */
.section{
    background-image: url(/img/back-emerg-princ.jpg);
    image-rendering: auto;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.contenedor-box{
    padding: 2em;
    height: 350px;
    width: 350px;
    display: block;
    text-align: center;
}
.items-box{
    list-style: none;
    height: 350px;
    width: 350px;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-titulo{
    height: 15%;
    width: 100%;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;

}
.p-titulo{
    font-size: 1.2em;
    font-weight: bold;
}
.div-subtitulo{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet; 
}
.p-subtitulo{
    font-size: 0.9em;
    font-weight: lighter;
}
.div-donacion{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:auto;
    background-color: coral;
    font-weight: 900 bolder;
}
.signopesos-donacion{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}
.monto-img{
    width: fit-content;
    height: fit-content;
}  

.numeromoneda{
    height: 100%;
    width: 75%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}
.monto-donacion{
    font-size: 3em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-montos{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: greenyellow;
}
.monto1{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.monto2{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.monto3{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.monto4{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.contenedor-boton{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

